    <!-- Sidebar -->
<ul class="sidebar navbar-nav bg-header">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Dashboard", "Portal")">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Users", "Portal")">
            <i class="fas fa-fw fa-table"></i>
            <span>User</span>
        </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Application", "Portal")">
            <i class="fas fa-fw fa-table"></i>
            <span>Application</span>
        </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Role", "Portal")">
            <i class="fas fa-fw fa-table"></i>
            <span>Role</span>
        </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("ApplicationMenu", "Portal")">
            <i class="fas fa-fw fa-table"></i>
            <span>Application Menus</span>
        </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Privilege", "Portal")">
            <i class="fas fa-fw fa-table"></i>
            <span>Setup Privilege</span>
        </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("UserRole", "Portal")">
            <i class="fas fa-fw fa-table"></i>
            <span>Assign User Role</span>
        </a>
    </li>
</ul>